.banner-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: top;
}

.buynow {
    width: 40%;
    padding: 15px;
    background: black;
    color: white;
    border: none;
}

.category {
    display: flex;
    float: right;
}

.category li {
    text-align: center;
    margin-left: 20px;
    color: black;
    /* width: 70px; */
    display: block;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black !important;
    background: none !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

.category .nav-item .active {
    border-bottom: 3px solid black;
}

.category li a {
    color: black;
}

.tab-content>.active {
    display: inline-flex !important;
}

.d-block {
    margin-bottom: 100px;
}

.product-title h3 {
    font-weight: 600;
}

.product-title {
    margin-top: 50px;
}

.content h1 {
    font-size: 30px;
    font-weight: 600;
    color: #aa202b;
}

.post-entry .thumbnail-product img {
    height: 250px;
}

.thumbnail-product {
    text-align: center;
}

.search1 {
    position: absolute;
    width: 19px;
    left: 10px;
    top: 6px;
    opacity: .7;
}

.yourcart {
    position: relative;
}

.yourcart span{
    position: absolute;
    width: 18px;
    height: 18px;
    background: red;
    border-radius: 50%;
    right: -10px;
    top: -5px;
    font-size: 11px;
    color: white;
    padding-right: 6px;
    padding-top: 1px;
}

.cart-info {
    text-align: left;
    display: flex;
    align-items: center;
}

.modal-content button {
    padding: 18px 60px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    border: 3px solid black;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    color: white;
    background: black;
}

.modal-content {
    text-align: center;
}

.cart-info p, .cart-info h4{
    margin: 0 !important;
}

.cart-list {
    padding: 15px 30px
}

/* hover button */

.button.alternative {
    --color-hover: #2B3044;
    --background: #000000;
    --hover-back: #5a5a5a;
    --hover-front: #F6F8FF;
}

.button.simple {
    --background: #275EFE;
    --background-hover: #1749DB;
}

.button:focus {
    outline: none;
}

.button {
    --color: #fff;
    --color-hover: var(--color);
    --background: #2B3044;
    --background-hover: var(--background);
    --hover-back: #6D58FF;
    --hover-front: #5C86FF;
    padding: 18px 60px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    border: 3px solid black;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    color: var(--c, var(--color));
    background: var(--b, var(--background));
    transition: color 0.2s linear var(--c-d, 0.2s), background 0.3s linear var(--b-d, 0.2s);
}

.button:not(.simple):before,
.button:not(.simple):after {
    content: "";
    position: absolute;
    background: var(--pb, var(--hover-back));
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    border-radius: var(--bl, 40%);
    transform: translateY(var(--y, 50%));
    transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s), border-radius 0.5s ease var(--br-d, 0.08s);
}

.button:not(.simple):after {
    --pb: var(--hover-front);
    --d: .44s;
}

.button div {
    z-index: 1;
    position: relative;
    display: flex;
}

.button div span {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-animation: var(--name, none) 0.7s linear forwards 0.18s;
    animation: var(--name, none) 0.7s linear forwards 0.18s;
}

.button.in {
    --name: move;
}

.button.in:not(.out) {
    --c: var(--color-hover);
    --b: var(--background-hover);
}

.button.in:not(.out):before,
.button.in:not(.out):after {
    --y: 0;
    --br: 5%;
    --bl: 0%;
}

.button.in:not(.out):after {
    --br: 10%;
    --d-d: .02s;
}

.button.in.out {
    --name: move-out;
}

.button.in.out:before {
    --d-d: .06s;
}

@-webkit-keyframes move {

    30%,
    36% {
        transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
    }

    50% {
        transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
    }

    70% {
        transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
    }
}

@keyframes move {

    30%,
    36% {
        transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
    }

    50% {
        transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
    }

    70% {
        transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
    }
}

@-webkit-keyframes move-out {

    30%,
    36% {
        transform: translateY(calc(6px * var(--move))) translateZ(0) rotate(calc(13deg * var(--rotate) * var(--part)));
    }

    50% {
        transform: translateY(calc(-3px * var(--move))) translateZ(0) rotate(calc(-6deg * var(--rotate) * var(--part)));
    }

    70% {
        transform: translateY(calc(2px * var(--move))) translateZ(0) rotate(calc(3deg * var(--rotate) * var(--part)));
    }
}

@keyframes move-out {

    30%,
    36% {
        transform: translateY(calc(6px * var(--move))) translateZ(0) rotate(calc(13deg * var(--rotate) * var(--part)));
    }

    50% {
        transform: translateY(calc(-3px * var(--move))) translateZ(0) rotate(calc(-6deg * var(--rotate) * var(--part)));
    }

    70% {
        transform: translateY(calc(2px * var(--move))) translateZ(0) rotate(calc(3deg * var(--rotate) * var(--part)));
    }
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}

body .dribbble img {
    display: block;
    height: 28px;
}

body .twitter {
    position: fixed;
    display: block;
    right: 64px;
    bottom: 14px;
}

body .twitter svg {
    width: 32px;
    height: 32px;
    fill: #1da1f2;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1270px !important;
    }
}

/* single page */

.heading-single a{
    color: black;
}

.single-add {
    padding: 18px 60px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    background: var(--b, var(--background));
}