body {
    background: #eee !important;
    font-family: 'Gilroy-Medium', sans-serif !important;
  }
  
  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .form-signin,
  .form-signin {
    margin-bottom: 30px;
}
.form-signin-heading {
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
      font-weight: 600;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type=text] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .checkbox {
    margin-top: 20px;
  }
  .btn-primary {
    color: #fff;
    margin-bottom: 10px
}

.btn-1 {
    background-color: #3a8bcd !important;
    border-color: #3a8bcd !important;
    margin-bottom: 20px !important
}

.btn-2 {
    background-color: #ee2b2f !important;
    border-color: #ee2b2f !important;
}

.btn-3 {
    background-color: #54a3db !important;
    border-color: #54a3db !important;
}
.btn-4 {
    background-color: #ee2b2f !important;
    border-color: #ee2b2f !important;
}
.signuplink {
    text-align: center;
    margin-top: 20px;
}
.signuplink p{
    margin-bottom: 0px !important
}
  
.pets-gender label {
    display: block;
    margin-bottom: 5px;
  }
  
  .radio-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 5px;
  }
  
  .radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 49%;
  }
  
  .radio-container input[type=radio] {
    display: none;
  }
  
  .radio-container input[type=radio]:checked + label {
    background: #F7B1AB;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }